        .panel {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            width: 95%;
            height:175px;
            max-width: 1200px;
            background-color: #f9f9f9;
        }

        .form-row {
            display: flex;
            gap: 20px;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        .form-group {
            flex: 1;
        }

        label {
            /* display: block; */
            margin-bottom: 5px;
            font-weight: bold;
            white-space: nowrap;
            vertical-align: middle;
        }

        select {
            width: 35%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .button-group {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        button {
            padding: 8px 15px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        .half-height-button {
            padding: 4px 7px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }


        .add-btn {
            background-color: #4CAF50;
            color: white;
        }

        .remove-btn {
            background-color: #f44336;
            color: white;
        }

        .obliterate-btn {
            background-color: #ff9800;
            color: white;
        }

        .copy-btn {
            background-color: #2c0ad2d5;
            color: white;
        }

        .checkbox-group {
            margin-top: 20px;
            font-size: small;
        }

        #editShiftContainer {
            width: 90%;
            display: flex;
            gap: 20px;  /* space between label groups */
        }
        
        .label-group {
            display: flex;
            flex-direction: column;
        }
        
        .checkbox-group {
            display: flex;
            gap: 10px;  /* space between checkboxes */
        }
        
        .container-wrapper {
            display: flex;
            justify-content: flex-start;  /* or 'space-between' for equal spacing */
            width: 330px;  /* Allows for 3 x 100px containers plus margins */
        }
        
        .checkbox-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20px;
            margin-right: 5px;
            display: inline-block;
        }

        .checkbox-container label {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }

        label:empty {
            display: none;
        }        

        #selectedShift {
            color: red;
            font-family: Arial, sans-serif;
        }

        .tango-container {
            display: flex;
            align-items: center;
            margin-bottom: 15px; /* Adds some space below this group */
        }
        
        .tango-container label {
            margin-right: 10px;
            white-space: nowrap;
        }
        
        #editShiftTango {
            flex: 1;
            max-width: 200px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ddd;
        }
        
            
    